.Button {  
  width: 130px;
  height: 50px;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #3e3e3e;
  border: 1px solid rgb(75, 75, 75);
  border-radius: 70px;
  margin: 3px;
  cursor: pointer;
  background-color: #ffea00;
 }

.Button:hover {
  background-color: #fff373;
  border-radius: 30px;
  width: 110px;  
  height: 50px;
  
}



