.navBar{
    background-color: #fc2895e4;
    display: flex;
    flex-wrap: wrap;
    height: 140px;
    padding: 5px;
    margin: 20px;
    
}

.Container-Fluid{  
    display: flex;   
    align-items: center;
    justify-content: right;
}

.navBar-nav{
    display: flex;  
}


.nav-item{     
    display: block;  
    justify-content: right; 
}

.img{
    max-width: 100%;
    width: 50%;
}

