.wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 20px;
    
}

.card-header{
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
}