.container-seccion2{
    background-color: gray;
    min-height: 150px;
    padding: 5px;
    margin: 15px;         
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

