.container-seccion3{
    background-color: rgb(255, 255, 255);
    min-height: 600px;
    padding: 5px;
    margin: 15px;       
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}