.slider {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  min-width: 100%; 
  width: 100%;
}

.image {
  width: 1200px;
  height: 500px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 30px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 30px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 2s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 2s;
  transform: scale(1.08);
}
